
body {
    background: linear-gradient(-90deg, rgba(219, 205, 209, 0.8), rgba(181, 195, 199, 0.8)), url('/static/images/background-welcome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    text-decoration: none;
}

.container-1 {
    font-size: 30px;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.home {
    flex: 0.07;
    color: #4b8785;
    opacity: .8;
    border-bottom: 1px #4b8785 solid;
    transition-duration: 0.3s;
    transition-property: transform;
}

.home:hover,
.home:focus,
.home:active {
    transform: scale(1.1);
}

.sign-in {
    color: #4b8785;
    flex: 0.08;
    opacity: .8;
    border-bottom: 1px #4b8785 solid;
    transition-duration: 0.3s;
    transition-property: transform;
}

.sign-in:hover,
.sign-in:focus,
.sign-in:active {
    transform: scale(1.1);
}

.sign-up {
    color: #4b8785;
    flex: 0.08;
    opacity: .8;
    border-bottom: 1px #4b8785 solid;
    transition-duration: 0.3s;
    transition-property: transform;
}

.sign-up:hover,
.sign-up:focus,
.sign-up:active {
    transform: scale(1.1);
}

