<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="text-align: center">
    You've successfully signed up.<br>
    Verification token has been sent to <span style="color: #0F6CC9" th:text="${user.email}"></span>.<br>
    Please verify your email.
</h3>
<a style="text-align: center;margin-right: 70px" th:href="@{/app-login}">Go to Login page</a>
</body>
</html>