<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div  style="text-align: center;color: red;font-size: 40px;margin-top: 70px" th:text="${expired}"></div>
</body>
</html>