<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util-signup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sign-up.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more"
             style="background-image: url('/static/images/bg-01.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form" method="post" th:action="@{/sign-up}" th:object="${user}">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

                <div class="wrap-input100 ">
                    <span class="label-input100">First Name</span>
                    <input class="input100" type="text" id="name1" name="name" th:field="*{name}" placeholder="Name...">
                    <div class="taracq" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name:</div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 ">
                    <span class="label-input100">Last Name</span>
                    <input class="input100" type="text" name="lastName" th:field="*{lastName}"
                           placeholder="Last Name...">
                    <div class="taracq" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid
                        Surname:
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 ">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" th:field="*{email}" placeholder="Email Address...">
                    <div class="taracq" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email
                        address:
                    </div>
                    <div style="color: red;font-size: 16px;height: 30px" id="resultEmail"
                         th:text="${uniqueEmailException}"></div>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 ">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" th:field="*{password}"
                           placeholder="*************">
                    <div class="taracq" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid
                        Password:
                    </div>
                    <div id="resultPassword"></div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Confirm Password</span>
                    <input class="input100" type="password" name="confirmPassword" placeholder="*************">
                    <div class="taracq" th:if="${pass!=confPass}" th:text="${confirmPassError}"></div>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Day:</span>
                    <select class="input100" required="required" name="dayOfBirth">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Month:</span>
                    <select class="input100" required="required" name="monthOfBirth">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="Jule">Jule</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Year:</span>
                    <input class="input100" type="text" name="yearOfBirth">
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Sex:</span>
                    <select class="input100" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <span class="focus-input100"></span>
                    </select>
                </div>
                <div class="wrap-input100">
                    <input style="background: #d5007d;color: white;font-family:
                    Poppins-Medium,sans-serif;font-size: 16px;line-height: 1.2;justify-content:
                    center;align-items: center;padding: 0 20px;border-radius: 25px;"
                           type="submit" class="input100" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/static/js/email-validation.js"></script>
<script src="/static/js/password-validation.js"></script>
</html>