<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/welcome.css">
        <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    </head>
<body>


<div class="container-1">
    <a class="home" th:href="@{/home}">Home</a>
    <a class="sign-in" th:href="@{/app-login}">Sign In</a>
    <a class="sign-up" th:href="@{/sign-up}">Sign Up</a>

</div>

</body>
</html>